In [1]:
a = 3 
b = 4
c = "heyyy"
print(a + b)
#it does BODMAS
print(a / 5 + b * 3)
a

7
12.6

3

In [2]:
a = input("Please enter your password: ")
print(a)

Please enter your password: wizzy
wizzy

In [3]:
#casting:changing the data types e.g int(), str(), float()
b = str(22)
#data types; type()
type(b)
a = 22
print(type(b))
# Using negation with boolean values 
c = not True
print(not c)
#quick test
d = bool(0)
print( f"{d} {type(d)}")

<class 'str'>
True
False <class 'bool'>

In [4]:
#format strings
print(f"{9} hey ")
a = 80.1
print(f"free wiz {a} times")

9 hey
free wiz 80.1 times

In [5]:
#Conditions if, elseif(elif) and else 
# can have as many elif statements
hours = 12
if hours < 3:
    print("invlaid")
elif hours == 12:
    print("nice")
else:
    print("valid")

nice

In [6]:
#using 'and' AND 'or' for conditions
no_slices = 20
healthy = False
age = 12
if age > 12 or no_slices == 20 and healthy:
    print("nice and healthy")
else:
    print("not healthy")

not healthy

In [7]:
#Operators += -=
count_1 = 2
count_1 += 3
print(count_1)
count_2 = 3
count_2 -= 5
print(count_2)

5
-2

In [11]:
#While loop
count_1 = 5
while count_1 > 3:
    count_1 -= 1
    print(f"{count_1} count is not enough")

4 count is not enough
3 count is not enough

In [12]:
#For loop- range starts from the value 0 and loops until i = 3
for i in range(3):
    print(f"{i} first loop")

0 first loop
1 first loop
2 first loop

In [13]:
#Lists
array_1 =[1,5,43,5]
print(array_1)
print(array_1[1])
#Replacing values in a list
array_1[2] = 28
print(array_1)
#adding to the end of the list. append()
array_1.append(16)
print(array_1)

#adding a value to a specfic point. insert(x,y)
#values are shifted to the right after the index e.g after index 1
array_1.insert(1,6)
print(array_1)
print("")

#removing the last item of the list 
array_1.pop()
print(array_1)

#removing the value in index 2 of the list
array_1.pop(2)
print(array_1)
#can also be stored in a variable
missing = array_1.pop()
print(missing)
print(array_1)

#For loop for a list (normally use "for" for list rather than "while")
for x in array_1:
    print(x+1)
print("")
#len() length of the list, number of elements
total_length = len(array_1)
print(total_length)
#can be used for strings aswell
a = "sssd"
print(len(a))

[1, 5, 43, 5]
5
[1, 5, 28, 5]
[1, 5, 28, 5, 16]
[1, 6, 5, 28, 5, 16]

[1, 6, 5, 28, 5]
[1, 6, 28, 5]
5
[1, 6, 28]
2
7
29

3
4

In [14]:
array_2 = [3,5,3,2,56,1]
arr_3 = ["he","they","she"]
# max() largest value in the array 
print(max(array_2))
#min() smallest value in the array 
print(min(array_2))


print("\n")
#.sort() for sorting a list. YOU CANT DO x = array_2.sort(), the array already gets sorted
array_2.sort()
print(array_2)
print("\n")

#sort() for strings is alphabetical order
arr_3.sort()
print(arr_3)

#sum(x) summation of the list 
print(sum(array_2))
print("\n")

# '+' can be used to join lists together
print(array_2 + arr_3)
print("\n")
#count(x) number of times an element appears in a list
print(array_2.count(3))
print("\n")
# Using 'in' finds out whether an element exists in a list or not
query = 3 in array_2
print(query)

56
1


[1, 2, 3, 3, 5, 56]


['he', 'she', 'they']
70


[1, 2, 3, 3, 5, 56, 'he', 'she', 'they']


2


True

In [15]:
name = "ann sam wiz"
#split() is used to spilt up a string
#produces a list of strings 
names = name.split()
print(names)

#when can use a seprator in split() to split up the string aswell e.g "-"
numbers = "one-two-three"
print(numbers.split("-"))

# replace(old, new) replaces instances of the old value with new. the variable has to a string and not a list
name = name.replace("ann", "four")
print(name)

['ann', 'sam', 'wiz']
['one', 'two', 'three']
four sam wiz

In [16]:
#type(x) to find out the data type of the field
#different casting int(), str(), float(), bool()


age = "14"
print(type(age))
print(type(int("14")))
#bool() true when a string is not empty
print(bool(age))
print("\n")

#int() doesnt round
#1 = True and 0 = False for bool() and int()
member = True
value = int(member)
print(value)
print(bool(value))

<class 'str'>
<class 'int'>
True


1
True

In [17]:
#set(x) gets rid of duplicates
letter = ["aa", "bb", "cc", "bb"]
letter_1 = set(letter)
print(letter_1)

{'cc', 'aa', 'bb'}

In [18]:
#dict(x) Converts tuples to dictionary format
letter = dict([("james", 25), ("stacey", 67)])
print(letter)

{'james': 25, 'stacey': 67}

In [19]:
#FUNCTIONS simple function
def greeting():
    print("heyy")
    
greeting()

heyy

In [20]:
#Having parameters in a function
def greeting_1(name):
    print(name)
    
greeting_1("henry")

henry

In [21]:
#function with a return value
# functions without a return value e.g x = greeting_1(2) -> None
def greetings_2(age):
    hello = 5 + age
    return hello
x = greetings_2(3)
print(x)
# functions like is_monday (starting with 'is') normally return as boolean 

#variables in functions are local 
#Every other variable is global including those in conditions and loops outside of variables

8

In [22]:
#You can add lists to the input of a function 
def greetings_3(day):
    print(len(day))
    
    
greetings_3(["hey", "lool"])
lol = ["bye", "goodnight", "goodbye"] 
greetings_3(lol)

2
3

In [ ]:
#Tuples are a good way grouping data, that closely related
#Tuples are immuteable, you cant change a tuple 
#Also can store tuples in lists
a = ("hey", 2)
b = [("lool",4,5), ("AS IN", 6)]
print(a)
print(b)
print(b[0][1])
#A tuple counts as one element/value in a list 
print(len(b))
#Tuples with one value have to end with a comma to be a tuple
c = ("okay",)
print(c)
#You can access values in a tuple
tuple_1 = (12,"23", True)
print(tuple_1[2])

In [ ]:
#return "x, z" returns a tuple from the comma
#Good way of returning multiple values inside functions
def get_tuple(x,y):
    z = y + 1
    return x, z
get_tuple(6,7)

In [ ]:
#dictionaires: associating a meaning to each value
#keys : values
#All keys have to be unique, and can only take one value
locations = {"height_1": "5ft", "height_2": "6ft", "height_3": "7ft"}
print(locations)

#Keys can be any data type (including tuples), values can be any type (lists, tuples)
locations_1 = {"hei": [1,3,"ttt"], "oof": "6ft", "damn": True, True: "55", (6,4): ("dd", 5)}
print(locations_1)
print("\n")

# dictionary[key] = value 
print(locations_1[True])

#loops through the keys then prints out the values and the key
for location in locations_1:
    print(locations_1[location])
    print(location)

#changing the value to a key
locations_1["oof"] = 22
print("\n")
print(locations_1)

locations_2 = {"hey": 2}
#adding a key and value to a dictonary
locations_2["bye"] = 3
print("\n")
print(locations_2)
print("\n")

#Checking to see the key "good" is in the dictionary
print("good" in locations_2)
print("\n")

#Removing a key and value pair in a dictionary using .pop(key)
x = locations_2.pop("hey")
print(locations_2)
# when removing a pair u can store the value of the pair in a variable
print(x)

In [ ]:
#sets are like lists but they do not dulicates (isnt displayed)
numbers = {1,1,2}
#duplicate is removed
print(numbers)
print("\n")
# adding a value to a set
numbers.add("lol")
print(numbers)
print("\n")

# you cant access values in a set using indices, as sets are unordered.
#instead you can check if a value is in a set
print("lol" in numbers)

#you can remove values in a set with remove()
numbers.remove("lol")
print("\n")
print(numbers)
#set() removes duplicates in a list (casting)
#list() can be used to make a set a list

x = {1}
print("\n")
# issubset() checks to see if x is a subset of numbers
print(x.issubset(numbers))


y = {9,6,5}
z = {9,8,3}
#union() can be used join two sets
# The "x" set doesnt change, a separate set is created
print("\n")
print(x.union(y))
print(x)

#intersection() checks the values that are common in both sets
print("\n")
print(y.intersection(z))

#difference() - elements that are in "y" but not in "z"
print("\n")
print(y.difference(z))

In [ ]:
#List comprehensions 
#An expression is apllied to each element (part before the loop)
x = [1,3,5,5]
y = [z/2 for z in x]
t = [ z in [1,5] for z in x]
s = [z < 2 for z in x]
print(y)
print(t)
print(s)
print("\n")
#other data types

i = ["hey", "lool", "bye"]
l = [z for z in x]
j = [len(z) for z in i]
k = [z + " wisdom" for z in i]

#copy of the list
print(l)
print("\n")
print(j)
print(k)

In [ ]:
# Functions as expresions for list comprehensions
#Only functions with a return value
def calcul(num):
    tt = num + 9
    return tt * 3
x = [7,5,3]
y = [calcul(z) for z in x]
print(y)

In [ ]:
#if statements along with list comprehensions  (filtering)
# Expression -> loop -> if statement
x = [12,43,32,11]
y = [calcul(z) for z in x if z > 14]
print(y)

In [ ]:
#negative indexing - retrieving elements from the right most side of a list
#index -1 gives the last value of the list
x = [9,4,32,3]
y = x[-1]
z = x[-2]
print(y)
print(z)
# del deletes objects or items in data structures
#you cannot save the deleted value in a variable 
del x[-1]
print(x)

In [ ]:
#Slice notation 
#list[start:stop] value in the stop index position is not included in the list
#you can use negative numbers
x = [7,34,54,67,2,1]
print(x[1:2])
print(x[2:])
#errors in slice notation return a empty list
print(x[3:1])
print("\n")
#Also list[start:stop:step]
#e.g returning every second value
print(x[0:5:2])
print(x[::3])
print("\n")
#A negative step goes backwards in a list
print(x[5::-2])

In [ ]:
#CLASSES (in python a class is an object)
class Person:
    hair = "long"
    length = 4
#Example of an instance 
person_a = Person()
#accesing the class variables
print(person_a.hair)

In [ ]:
#Functions in classes are called methods
#each method should have 'self' in the parameters first. (To access the class variables)
class Drinks:
    color = "red"
    
    def reaction(self):
        print("nicee " + self.color)
        #Accessing the class variable
        print(self.color)
        
fanta = Drinks()
fanta.reaction()

In [ ]:
#Constructors 
class Age:
    #constructor method: allows you to set unique values for class variables for instances
    def __init__(self, month, number):
        self.month = month
        self.number = number
        self.hey = len(number)
    
    def display_numbers(self):
        for i in self.number:
            print(f"{i} is captureed {self.hey}")


ben = Age("Jan", [1,3,2,2])
wiz = Age("Feb", [2,5,3])
print(ben.month)

ben.display_numbers()

In [ ]:
#Paradigms are different styles of coding 
#Functional programming style, keeps data and functionality seperate 
#Object orientated programming - OOP, group data and functionality as properties and methods inside objects

    #Encapsulation - grouping together related data and functions in the same object.

In [ ]:
#Inheritence - A class inheriting the functionality of another class
#Simple example
class one:
    def three(self):
        print("3")
#Place the parent class inside the brackets 
class two(one):
    def four(self):
        print("4")

h = two()
h.three()
h.four()

In [ ]:
#Inheritence - A class inheriting the functionality of another class

class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        self.future = age + 10
        
    def how_old(self):
        print(self.name + str(self.age))

        #Place the parent class inside the brackets 
class Student(Person):
    def __init__(self, name, age, major):
        #making sure it has the same propertites as the parent, gets the same constructor
        super().__init__(name, age)
        self.major = major
        
    def subject(self):
        print("\n")
        print(self.name)
        print(self.major)
        
henry = Student("henry", 16, "Maths")
print(henry.future)
henry.how_old()
henry.subject()

In [ ]:
#Abstraction allow other developers to use a class without having to know the low-level methods it has
#Simplifying how we interact with objects down to a few methods

class Juicemaker:
    
    def buy_juice(self):
        print("jucie has been bought")
        
    def add_water(self):
        print("Water has been added")
        
    #This is where the abstraction takes place, in this example this method, contains the other two methods of the class
    def make_juice(self):
        self.buy_juice()
        self.add_water()


a = Juicemaker()
a.make_juice()

In [ ]:
#Polymorphism - different behaviours of methods (overriding certain methods)
#by setting the same method name in the sub class

class height:
    def he(self):
        print("i'm tall")
        
class height_1(height):
    def she(self):
        print("hey")

        #Polymorphism here same method name different code
class height_2(height):
    def he(self):
        print("im short")
#Proven here
h = height_1()
h.he()
t = height_2()
t.he()

In [ ]:
#Importing modules
#Modules group related classes and data and make them accessible from one place
#Some modules are built in python, just like 'math'
#Module name, then  variable or method ()
import math
print(math.pi)

#IMPORTANT - help(module name) gives information (functionality)on the module, the data and functions
help(math)

In [ ]:
#Importing multiple modules 
import math, statistics

In [ ]:
#Extracting the functionality we only care about
from math import pi
print(pi)

#Extracting the functionality we only care about
from statistics import mean
a = [3,4,2]

result = mean(a)
print(result)

In [ ]:
#You can also rename the module
#This is called aliasing
import statistics as stats
a = [3,4,2]

result = stats.mean(a)
print(result)

In [ ]:
#Syntax error - generally typos 
    #Indentation errors

In [ ]:
#The traceback from errors is best read bottom to top

In [ ]:
#Producing manual errors 
    #you can use other types of errors aswell
a = 1
if a == 1:
    raise ValueError("your ugly fam")

In [ ]:
# try and except are used for exception handling
try:
    #this should produce an error
    print(12 / 0)
except:
    #however this is printed
    print("hey")

In [ ]:
#'pass' can be used in a block o code if we want nothing to be executed 
a = 0
if a == 1:
    print("hey")
else:
    pass

In [ ]:
try:
    1 + 1
except:
    print("hey")
#else statement can be used when there are no errors    
else:
    print("lol")

#statement at the end that exceutes code no matter whether a error occurs or not
finally:
    print("again")

In [ ]:
x = [12,33,45]
[t /2 for t in x]

In [ ]:
try: 
    x = 1
    print(5 / 0)
except: 
    print("lol")

In [ ]:
x = input("Please enter your name: ")
y = input("Male or Female: ")
z = int(input("What's your height: "))
print(f"{x} Thank you for entering your details")
#if "j" in x or "f" in x:
    #print("your name meets the criteria")
#else:
    #print("Your name does not meet the requirements")

In [ ]:
class Forum:
    def test(self):
        t = input()
        s = input()
        r = int(input())
        ww = [t,s,r]
        return ww
        
    def checkage(self, height):
        if height > 21:
            print("Valid height")
        else:
            print("You are too small")
    
    def checkname(self, name):
        if "j" in name or "f" in name:
            print("your name meets the criteria")
        else:
            print("Your name does not meet the requirements")
        

    def checkgender(self, gender):
        if gender == "male" or gender == "Male":
            print("You are suitable for the role")
        else: 
            print("You are not suited to the role")
            
    def allchecks(self, x, y, z):
        self.checkage(z)
        self.checkname(x)
        self.checkgender(y)
        

a = Forum() 
a.allchecks(x, y, z)
b = Forum()
c = b.test()
b.allchecks(c[0], c[1], c[2])
#checkname(x)
#checkage(z)
#checkgender(y)

In [ ]:
class Forum:
    def __init__(self, t, s, r):
        self.t = t
        self.s = s
        self.r = r
        
    def checkage(self):
        if self.t > 21:
            print("Valid height")
        else:
            print("You are too small")
    
    def checkname(self):
        if "j" in self.s or "f" in self.s:
            print("your name meets the criteria")
        else:
            print("Your name does not meet the requirements")
        

    def checkgender(self):
        if self.r == "male" or self.r == "Male":
            print("You are suitable for the role")
        else: 
            print("You are not suited to the role")
            
    def allchecks(self):
        self.checkage()
        self.checkname()
        self.checkgender()
        
a = Forum(int(input("Please enter your height: ")), input("Please enter your name: "), input("Enter your gender: "))
print("\n")
a.allchecks()

In [ ]:
#British airways seats
#Login page for gravity

In [ ]:

username = input("Enter an username: ")
password = input("Enter an password: ")

e_password = hash(password)

print("Enter your login details")
c_username = input("Enter your username: ")
c_password = input("Enter your password: ")

cc_password = hash(c_password)
if e_password == cc_password:
        print("correct password")
else:
    print("incorrect password: ")

In [ ]:
#lambda, expressions 
x = lambda a : a + 10 
print(x(5))

In [ ]:
def myfunc(n):
    return lambda a : a * n

mydoubler = myfunc(3)

print(mydoubler(11))

In [ ]:
import pandas as pd 
import sqlite3

In [ ]:
!pip install ipython-sql

In [ ]:
#I had added the ID field later on, previous examples dont contain ID except from the JOIN examples Previous table
#Was called Peoples
dt = pd.DataFrame({ 'ID' : [1,2,3],
                 'name': ['wisdom', 'kings', 'jenny'],
                 'age' : [22,30,21],
                 'city' : ['London', 'Lagos', 'London']})

dt

In [ ]:
cnn = sqlite3.connect('jupyter_sql_tutorial.db')

In [ ]:
dt.to_sql('Info', cnn)

In [ ]:
%load_ext sql

In [ ]:
%sql sqlite:///jupyter_sql_tutorial.db

In [ ]:

%%sql
--selects all columns (including id/index) 
SELECT *
FROM Peoples;

In [ ]:
%%sql
--selects two columns (city and name)
SELECT name, city
FROM Peoples;

In [ ]:
%%sql
--DISTINCT removes duplicates. selects a column and removes the duplicates
SELECT DISTINCT city
FROM Peoples;

In [ ]:
%%sql
-- 'order by' orders the table, in this case by name
SELECT *
FROM Peoples
ORDER BY name

In [ ]:
%%sql 
-- ordering items numerically is automatically ascending like in the example above (ASC). This example will be descending (DESC)
SELECT *
FROM Peoples
ORDER BY age DESC;

In [ ]:
%%sql 
--Filtering data with 'Where'. Column name = data value 
SELECT *
FROM Peoples
Where city = 'London'

In [ ]:
%%sql
-- <> not equal in sql, In this example it shows items if the age does not equal 22 (inequality operator)

SELECT *
FROM Peoples
WHERE AGE <> 22

In [ ]:
%%sql
-- other operators can be used aswell >, <, <=, >=

SELECT *
FROM Peoples
WHERE AGE <= 22

In [ ]:
%%sql
-- BETWEEN is used to check if a value is within a range, the ranges include its borders (inclusive). Mainly for integers

SELECT *
FROM Peoples
WHERE age BETWEEN 12 AND 22

In [ ]:
%%sql
/* LIKE keyword checks whether a value is in a column (only text). 
Using patterns. This example gets items with where the city starts with La (follwing the percentage sign) */

SELECT *
FROM Peoples
WHERE city LIKE 'La%'

In [ ]:
%%sql
/* LIKE keyword checks whether a value is in a column (only text). 
Using patterns. This example gets items with where the name ends with s (after the percentage sign) */

SELECT *
FROM Peoples
WHERE name LIKE '%s'

In [ ]:
%%sql
/* LIKE keyword checks whether a value is in a column (only text). 
Using patterns. This example gets items  where the city contains the value 'on' ( percentage sign before and after) */

SELECT *
FROM Peoples
WHERE city LIKE '%on%'
ORDER BY name DESC

In [ ]:
%%sql
/* IN keyword is used to specify options when filtering (brackets is used)
Works like an OR function, numbers can used with IN aswell*/

SELECT *
FROM Peoples
WHERE name IN('wisdom', 'kings')
ORDER BY city DESC;

In [ ]:
%%sql
/* AND Keyword (does not have to be in a new line)*/

SELECT *
FROM Peoples
WHERE city = 'London' 
AND age >= 22;

In [ ]:
%%sql
/* OR Keyword (does not have to be in a new line)*/

SELECT *
FROM Peoples
WHERE city = 'London' 
OR age >= 22;

In [ ]:
%%sql
/* NOT Keyword (NOT is mainly used with IN, BETWEEN and LIKE)
In this example brings out items that city does not contain 's'*/

SELECT *
FROM Peoples
WHERE city NOT LIKE '%S%';

In [ ]:
%%sql
/*Aliasing - assigning temporary names to column names (Doesnt change in the orginal table)
AS keyword is for this
This example name is changed to 'user'*/

SELECT name AS user
FROM Peoples
WHERE city = 'London' 
OR age >= 22;

In [ ]:
%%sql
/*Aliasing - More Aliasing with mutliple columns*/

SELECT name AS user, age, city AS town
FROM Peoples
WHERE city = 'London' 
OR age >= 22;

In [ ]:
%%sql
/*MIN(column name) smallest value
MAX(column name) Largest value
These functions are aggregate functions */

SELECT MIN(age)
FROM Peoples
WHERE name IN('wisdom', 'kings')

In [ ]:
%%sql
/*AVG() average aggregate functions */

SELECT AVG(age) AS Average_age
FROM Peoples
WHERE name IN('wisdom', 'kings')

In [ ]:
%%sql
/*COUNT() - How many items we have in a table ()
Can also use * in the brackets
when puting column names in the bracket it doesnt count for empty table cells*/

SELECT COUNT(price)
FROM Peoples

In [ ]:
%%sql
/*COUNT() - How many items/values we have in a table ()
Can remove duplicates with DISTINCT */

SELECT COUNT(DISTINCT city)
FROM Peoples

In [ ]:
%%sql
/*SUM() - sums up all the values selected
Can remove duplicates with DISTINCT */

SELECT SUM(age)
FROM Peoples

In [ ]:
%%sql
/*GROUP BY - groups the results by value  */

SELECT city, COUNT(*)
FROM Peoples
GROUP BY city;

In [ ]:
%%sql
/*GROUP BY - groups the results by value  */

SELECT city, SUM(age)
FROM Peoples
GROUP BY city;

In [ ]:
%%sql
/*HAVING keyword - Filtering out groups
This example selects groups with more > 30 age 
can use any condition with HAVING*/

SELECT city, SUM(age)
FROM Peoples
GROUP BY city
HAVING SUM(age) > 30;

In [ ]:
ds = pd.DataFrame({'ID': [1, 2, 3],
                 'race' : ['black', 'white' ,'mixed'],
                 })

ds
ds.to_sql('Race', cnn)

In [ ]:
%%sql
/* JOIN keyword - JOIN is used to merge two tables together
JOIN is short for INNER JOIN
ON keyword - is used to make a condition of (joining tables) how the rows should match by different tables
If some rows dont match it wont appear
*/

SELECT *
FROM Info
JOIN race
ON info.id = race.id;

In [ ]:
%%sql
/* You can use different fields in the ON condition
in this case it produces no results.
*/

SELECT *
FROM Info
JOIN race
ON info.age = race.id;

In [ ]:
%%sql
/* Example changing the SELECT statement 
*/

SELECT Info.name, race.race
FROM Info
JOIN race
ON info.id = race.id;

In [ ]:
%%sql
/* you can alias table names 
*/

SELECT i.name, r.race
FROM Info AS i
JOIN race AS r
ON i.id = r.id;

In [ ]:
#New table to show the effect of the LEFT JOIN
dr = pd.DataFrame({'ID': [1, 2, 3, 4],
                 'travel' : ['car', 'train' ,'plane', 'bike'],
                 })

dr
dr.to_sql('travels', cnn)

In [ ]:
%%sql 
/* LEFT JOIN - keyword gets matching rows from the first table but also displays the rows that dont match from the
first table
*/
SELECT *
FROM travels 
LEFT JOIN info
ON travels.id = info.id

In [ ]:
%%sql
/* Subqueries - using agregrate functions
average age is used in the where condition
Have to use brackets 
*/

SELECT *
FROM info
WHERE age < 
(
    SELECT AVG(age)
    FROM info

);

In [ ]:
%%sql
/* Sub queries can also be used in mutliple tables 

Subqueries - using agregrate functions
average age is used in the where condition
Have to use brackets 
*/

SELECT *
FROM info
WHERE age > 
(
    SELECT AVG(id)
    FROM travels
    

);

In [ ]:
%%sql
/* Subqueries - using IN Keyword

Have to use brackets 
*/

SELECT *
FROM info
WHERE age < 
(
    SELECT AVG(age)
    FROM info

);